body {
    background-color: #9ebddb;
    font-family: Arial;
    margin: 0;
    text-align: center;
}
div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, span, button {
    margin: 0;
}
h1 {
    font-size: 48px;
    word-spacing: 20px;
}
span {
    color: #e608b6;
}
button {
    font-size: 24px;
    border: solid 2px;
    background-color: transparent;
    border-radius: 10px;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}